In [5]:
#import modules
import re
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv('csv_files/life_expectancy_data_county.csv')
df_obesity = pd.read_csv('csv_files/obesity_data_county.csv')
df_smoke = pd.read_csv('csv_files/smoke_data_county.csv')
df_wage = pd.read_csv('csv_files/wage_data_state.csv')
df_food = pd.read_csv('csv_files/food_stamps_csv.csv')
df_unemployment = pd.read_csv('csv_files/unemployment_csv.csv')

In [8]:
df.tail()

                 County     State  Life expectancy 2010
3137  Sweetwater County   Wyoming                 77.93
3138       Teton County   Wyoming                 82.95
3139       Uinta County   Wyoming                 77.51
3140    Washakie County   Wyoming                 78.77
3141      Weston County   Wyoming                 78.64

In [9]:
df.tail()

                 County     State  Life expectancy 2010
3137  Sweetwater County   Wyoming                 77.93
3138       Teton County   Wyoming                 82.95
3139       Uinta County   Wyoming                 77.51
3140    Washakie County   Wyoming                 78.77
3141      Weston County   Wyoming                 78.64

In [10]:
df_obesity.tail()

        State             County Obesity
3141  Wyoming  Sweetwater County    27.4
3142  Wyoming       Teton County    13.1
3143  Wyoming       Uinta County    29.8
3144  Wyoming    Washakie County    24.1
3145  Wyoming      Weston County    31.3

In [11]:
df_smoke.tail()

                 County  Percent Smokers
3122  Sweetwater County             25.6
3123       Teton County             12.7
3124       Uinta County             22.7
3125    Washakie County             22.6
3126      Weston County             24.6

In [12]:
#df_obesity = df_obesity.drop(columns=['State'])
df_wage.head()

        State  Min Wage
0     Alabama      7.25
1      Alaska      7.75
2     Arizona      7.80
3    Arkansas      7.25
4  California      8.00

In [13]:
df_obesity
df_wage
#do at the end
#this adds wages to obesity (thanks Tom)
df_ow = df_obesity.merge(df_wage, on=['State'], how='outer')
#df_obesity
df_ow.tail(20)
#this is a test to make sure wages was added correctly
df_ow[df_ow['State'].str.contains("Connecticut")]

#more testing on wages
#print(len(df_wage['Min Wage'].unique()))
#print(len(df_obesity['Min Wage'].unique()))

           State             County Obesity  Min Wage
311  Connecticut   Fairfield County    18.6      8.25
312  Connecticut    Hartford County    24.6      8.25
313  Connecticut  Litchfield County    21.9      8.25
314  Connecticut   Middlesex County    23.9      8.25
315  Connecticut   New Haven County    27.4      8.25
316  Connecticut  New London County      25      8.25
317  Connecticut     Tolland County    23.4      8.25
318  Connecticut     Windham County      30      8.25

In [17]:
#now drop state from df
df = df.drop(columns=['State'])

In [14]:
#df.head()

In [18]:
final_df = pd.merge(df_ow, df.drop_duplicates(subset=['County']), on='County')
#this is good to go
final_df.head()
#final_df[final_df['State'].str.contains("Connecticut")]

           State          County Obesity  Min Wage  Life expectancy 2010
0        Alabama  Autauga County    30.5      7.25                 75.74
1        Alabama  Baldwin County    26.6      7.25                 77.80
2        Georgia  Baldwin County      32      7.25                 77.80
3        Alabama  Barbour County    37.3      7.25                 75.34
4  West Virginia  Barbour County    31.9      7.25                 75.34

In [19]:
final_df_two = pd.merge(final_df, df_smoke.drop_duplicates(subset=['County']), on='County')

In [20]:
#final_df_two
final_df_two[final_df_two['State'].str.contains("Connecticut")]
#df[df['ids'].str.contains('ball', na = False)]

,State,County,Obesity,Min Wage,Life expectancy 2010,Percent Smokers
920,Connecticut,Fairfield County,18.6,8.25,81.55,15.1
923,Connecticut,Hartford County,24.6,8.25,80.07,18.1
924,Connecticut,Litchfield County,21.9,8.25,80.69,20.1
925,Connecticut,Middlesex County,23.9,8.25,80.78,18.9
929,Connecticut,New Haven County,27.4,8.25,79.79,20.9
930,Connecticut,New London County,25,8.25,80.26,20.0
931,Connecticut,Tolland County,23.4,8.25,81.19,16.5
932,Connecticut,Windham County,30,8.25,78.87,21.3

In [21]:
final_df_two.tail()

,State,County,Obesity,Min Wage,Life expectancy 2010,Percent Smokers
3046,Wyoming,Sublette County,23.1,5.15,80.29,17.9
3047,Wyoming,Sweetwater County,27.4,5.15,77.93,25.6
3048,Wyoming,Uinta County,29.8,5.15,77.51,22.7
3049,Wyoming,Washakie County,24.1,5.15,78.77,22.6
3050,Wyoming,Weston County,31.3,5.15,78.64,24.6

In [23]:
df_food.head()

,States,Jan & July Public Assist. Participation,Jan & July Non-Public Assist. Participation,Jan & July TOTAL Assist. Participation,Counties
0,AL,1706,12399,14105,Autauga County
1,AL,3236,34173,37409,Baldwin County
2,AL,2137,9847,11984,Barbour County
3,AL,1195,6453,7648,Bibb County
4,AL,2046,14415,16461,Blount County

In [ ]:
df_food

In [25]:
df_food = df_food.drop(columns=['States'])

In [28]:
df_food.rename(columns={'Counties':'County'}, inplace=True)

In [31]:
df_food.tail()

,Jan & July Public Assist. Participation,Jan & July Non-Public Assist. Participation,Jan & July TOTAL Assist. Participation,County
3131,109,3201,3310,Sweetwater County
3132,36,3936,3972,Teton County
3133,51,4160,4211,Uinta County
3134,402,26143,26545,Washakie County
3135,161,7367,7528,Weston County

In [32]:
one_more_df = pd.merge(final_df_two, df_food.drop_duplicates(subset=['County']), on='County')

In [33]:
one_more_df.head()

,State,County,Obesity,Min Wage,Life expectancy 2010,Percent Smokers,Jan & July Public Assist. Participation,Jan & July Non-Public Assist. Participation,Jan & July TOTAL Assist. Participation
0,Alabama,Autauga County,30.5,7.25,75.74,25.8,1706,12399,14105
1,Alabama,Baldwin County,26.6,7.25,77.80,23.0,3236,34173,37409
2,Georgia,Baldwin County,32,7.25,77.80,23.0,3236,34173,37409
3,Alabama,Barbour County,37.3,7.25,75.34,26.8,2137,9847,11984
4,West Virginia,Barbour County,31.9,7.25,75.34,26.8,2137,9847,11984

In [39]:
df_unemployment.head()

   Unemployment_rate_2010          County
0                     8.9  Autauga County
1                    10.0  Baldwin County
2                    12.3  Barbour County
3                    11.4     Bibb County
4                     9.8   Blount County

In [37]:
df_unemployment
df_unemployment = df_unemployment.drop(columns=['State'])
df_unemployment.rename(columns={'Counties':'County'}, inplace=True)

In [43]:
df_unemployment.tail()

      Unemployment_rate_2010             County
3131                     6.6  Sweetwater County
3132                     7.7       Teton County
3133                     7.0       Uinta County
3134                     5.9    Washakie County
3135                     4.8      Weston County

In [41]:
complete_df = pd.merge(one_more_df, df_unemployment.drop_duplicates(subset=['County']), on='County')

In [42]:
complete_df

,State,County,Obesity,Min Wage,Life expectancy 2010,Percent Smokers,Jan & July Public Assist. Participation,Jan & July Non-Public Assist. Participation,Jan & July TOTAL Assist. Participation,Unemployment_rate_2010
0,Alabama,Autauga County,30.5,7.25,75.74,25.8,1706,12399,14105,8.9
1,Alabama,Baldwin County,26.6,7.25,77.80,23.0,3236,34173,37409,10.0
2,Georgia,Baldwin County,32,7.25,77.80,23.0,3236,34173,37409,10.0
3,Alabama,Barbour County,37.3,7.25,75.34,26.8,2137,9847,11984,12.3
4,West Virginia,Barbour County,31.9,7.25,75.34,26.8,2137,9847,11984,12.3
5,Alabama,Bibb County,34.3,7.25,74.13,30.1,1195,6453,7648,11.4
6,Georgia,Bibb County,30.3,7.25,74.13,30.1,1195,6453,7648,11.4
7,Alabama,Blount County,30.4,7.25,76.41,27.9,2046,14415,16461,9.8
8,Tennessee,Blount County,31.9,7.25,76.41,27.9,2046,14415,16461,9.8
9,Alabama,Bullock County,42.1,7.25,73.61,28.0,1189,4440,5629,11.8
10,Alabama,Butler County,38.3,7.25,73.63,28.3,1766,8405,10171,13.6
11,Iowa,Butler County,27.2,7.25,73.63,28.3,1766,8405,10171,13.6
12,Kansas,Butler County,33.3,7.25,73.63,28.3,1766,8405,10171,13.6
13,Kentucky,Butler County,34.8,7.25,73.63,28.3,1766,8405,10171,13.6
14,Missouri,Butler County,32.9,7.35,73.63,28.3,1766,8405,10171,13.6
15,Nebraska,Butler County,27.8,7.25,73.63,28.3,1766,8405,10171,13.6
16,Ohio,Butler County,29.8,7.85,73.63,28.3,1766,8405,10171,13.6
17,Pennsylvania,Butler County,29.1,7.25,73.63,28.3,1766,8405,10171,13.6
18,Alabama,Calhoun County,33.2,7.25,74.11,28.6,7206,40127,47333,11.4
19,Arkansas,Calhoun County,34.2,7.25,74.11,28.6,7206,40127,47333,11.4
20,Florida,Calhoun County,36.1,7.79,74.11,28.6,7206,40127,47333,11.4
21,Georgia,Calhoun County,31.7,7.25,74.11,28.6,7206,40127,47333,11.4
22,Illinois,Calhoun County,29.5,7.25,74.11,28.6,7206,40127,47333,11.4
23,Iowa,Calhoun County,30.4,7.25,74.11,28.6,7206,40127,47333,11.4
24,Michigan,Calhoun County,37.1,7.25,74.11,28.6,7206,40127,47333,11.4
25,Mississippi,Calhoun County,33.6,7.25,74.11,28.6,7206,40127,47333,11.4
26,South Carolina,Calhoun County,38.4,7.25,74.11,28.6,7206,40127,47333,11.4
27,Texas,Calhoun County,28.4,7.25,74.11,28.6,7206,40127,47333,11.4
28,West Virginia,Calhoun County,35.9,7.25,74.11,28.6,7206,40127,47333,11.4
29,Alabama,Chambers County,35.4,7.25,74.09,29.5,2509,13405,15914,14.9
...,...,...,...,...,...,...,...,...,...,...
3012,Wisconsin,Marathon County,28.4,7.25,80.70,21.5,178,4711,4889,9.3
3013,Wisconsin,Marinette County,29.6,7.25,78.83,26.2,126,8539,8665,11.1
3014,Wisconsin,Milwaukee County,31.3,7.25,77.34,25.2,48,1668,1716,10.0
3015,Wisconsin,Oconto County,29.4,7.25,79.42,23.5,0,24,24,10.7
3016,Wisconsin,Outagamie County,30.6,7.25,80.66,20.6,59,7838,7897,8.1
3017,Wisconsin,Ozaukee County,25.8,7.25,81.64,16.5,49,5869,5918,7.1
3018,Wisconsin,Pepin County,27.9,7.25,80.73,21.4,304,31775,32079,7.4
3019,Wisconsin,Price County,28.6,7.25,79.17,22.5,8,1521,1529,10.9
3020,Wisconsin,Racine County,30.8,7.25,78.95,23.5,35,2176,2211,10.2
3021,Wisconsin,Sauk County,28.8,7.25,79.62,23.2,349,22400,22749,8.4
3022,Wisconsin,Sawyer County,26.7,7.25,77.90,25.7,7,354,361,11.3
3023,Wisconsin,Shawano County,31.4,7.25,79.32,25.2,581,30188,30769,10.2
3024,Wisconsin,Sheboygan County,26.7,7.25,80.03,20.6,8,389,397,9.3
3025,Wisconsin,Trempealeau County,33.1,7.25,79.91,21.6,151,10869,11020,7.6
3026,Wisconsin,Vilas County,28,7.25,79.47,24.8,170,10990,11160,11.3
3027,Wisconsin,Washburn County,30.6,7.25,78.32,23.8,257,8383,8640,9.7
3028,Wisconsin,Waukesha County,24.9,7.25,81.31,17.6,264,23250,23514,7.3
3029,Wisconsin,Waupaca County,30.2,7.25,77.88,24.9,81,5026,5107,9.4
3030,Wisconsin,Waushara County,29.6,7.25,79.12,26.7,6,164,170,10.8
3031,Wyoming,Converse County,29.7,5.15,78.68,23.9,54,5653,5707,5.5
3032,Wyoming,Goshen County,26.5,5.15,79.64,22.8,3,112,115,4.9
3033,Wyoming,Hot Springs County,25.1,5.15,77.24,24.8,0,71,71,5.2
3034,Wyoming,Laramie County,25.8,5.15,78.51,23.4,8,963,971,6.7
3035,Wyoming,Natrona County,27.2,5.15,77.75,26.4,35,1121,1156,7.0
3036,Wyoming,Niobrara County,23.8,5.15,78.63,23.3,328,13476,13804,4.6
3037,Wyoming,Sublette County,23.1,5.15,80.29,17.9,103,5436,5539,5.9
3038,Wyoming,Sweetwater County,27.4,5.15,77.93,25.6,109,3201,3310,6.6
3039,Wyoming,Uinta County,29.8,5.15,77.51,22.7,51,4160,4211,7.0
3040,Wyoming,Washakie County,24.1,5.15,78.77,22.6,402,26143,26545,5.9
3041,Wyoming,Weston County,31.3,5.15,78.64,24.6,161,7367,7528,4.8

In [44]:
#move the dataframe to a csv file to merge
complete_df.to_csv('csv_files/final_data.csv', encoding='utf-8', index=False)